:root
{
    --primary-colour: #90f6d7;
    --secondary-colour: #263849;
    --tertiary-colour: #41506b;
    --accent-colour: #35bcbf;
    --light-text-colour: #f3f3f3;
    --dark-text-colour: #272727;
    --error-colour:#ff9900;
}
